body {
    background-color: lightgray;
}

body,
ul,
li {
    display: flex;
}

ul {
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

li {
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 15px solid black;
    padding: 15px;
}
